.popular{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    /* height: 90vh; */

}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

@media (max-width: 768px) {
    .popular-item{
      display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    /* height: 90vh; */

}
}