.hero{
    /* height: 100vh; */
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}


.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .hero{
        flex-direction: column;
            background: black;
    }

    .hero-left{
       padding-left: 0px;
       padding-right: 0px;
       align-items: center;
       text-align: center;
       gap: 10px;
       position: relative;
       top: 800px;
}

    .hero-left h2{
    font-size: 20px;

    }
    .hero-left P{
        font-size: 50px;
    }
    .hero-hand-icon img{
    width: 55px;

}
   .hero-right img{
    height: 100vh;
    position: relative;
    bottom: 350px;
   } 
}